header {
    background-color: $color-page-base;
    border-bottom: 1px solid darken($color-page-base, 10%);
    height: 44px;
    position: relative;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#showNav {
    display: block;
    height: 44px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-decoration: none;
    text-indent: -100%;
    top: 0;
    width: 44px;
    z-index: 2;
}

#showNav::before {
    border-bottom: 3px solid #333;
    border-top: 9px double #333;
    content: "";
    height: 3px;
    position: absolute;
    right: 10px;
    top: 15px;
    width: 20px;
}

.header-inner h1 {
    display: none;
}

.header-inner > a {
    display: block;
    height: 39px;
    left: 0;
    overflow: hidden;
    padding: 5px 5px 0 ;
    position: absolute;
    top: 0;
    width: 50px;
}

.header-inner > a img {
    width: 45px;
}

.header-inner li:last-child {
    display: none;
}


//  ## MODULE MEDIA QUERIES  --------------------------------------------------------*/

@media screen and (min-width: $breakpoint-medium) {

    header {
        max-width: $container-medium;
        margin: 0 auto;
        height: 80px;
    }

    .header-inner > a {
        height: 78px;
        left: 50%;
        margin-left: -38px; // Slightly off center to look visually correct
        top: 15px;
        width: 60px;
    }

    .header-inner > a img {
        height: auto;
        width: 60px;
    }

    .header-inner li {
        display: none;
    }
}

@media screen and (min-width: $breakpoint-large) {

    header {
        height: 135px;
        margin: 0 auto;
        max-width: $container-large;
    }

    .header-inner > a {
        height: 81px;
        margin-left: -71px; // Slightly off center to look visually correct
        top: 30px;
        width: 110px;
    }

    .header-inner > a img {
        height: auto;
        width: 110px;
    }

    .header-inner li {
        display: none;
    }
}