        <nav class="menu" id="menu">
            <ul>
                <li class="nav-home"><a href="/" rel="internal">Home</a>
                <li class="nav-the-cottage"><a href="/the-cottage/" rel="internal">The Cottage</a>
                <li class="nav-the-stables"><a href="/the-stables/" rel="internal">The Stables</a>
                <li class="nav-about-the-village"><a href="/about-the-village/" rel="internal">About the village</a>
                <li class="nav-things-to-do"><a href="/things-to-do/" rel="internal">Things to do</a>
                <li class="nav-getting-here"><a href="/getting-here/" rel="internal">Getting here</a>
            </ul>
        </nav>
