                <section class="intro">
                    <h1>Getting here</h1>
                    <p>You’ll find Manor Farm Cottage at the top of the village on the only road into Goodmanham, and just 5 minutes from the A1079.</p>
                </section>
                <section class="text">
                    <p>As there are quite a few Manor Farms in the region it’s best to use our postcode YO43 3JA to find us in your sat-nav or you can <a href="http://binged.it/1pSCB0A" rel="external">get directions</a>.
                </section>

                <section class="room">
                    <h2>East Yorkshire</h2>
                    <figure>
                        <img src="http://api.tiles.mapbox.com/v3/rpstephenson.ik7cmcb8/pin-l-village(-0.64605,53.87699,3)/-0.64605,53.87698,10/950x600.png" alt="Map showing the location of Manor Farm Cottages in Goodmanham near Market Weighton">
                    </figure>
                    <p>Located in the heart of East Yorkshire Manor Farm Cottages are a short distance from the M62 motorway and only a couple of minutes from the town of Market Weighton.</p>
                </section>

                <section class="room">
                    <h2>The Village</h2>
                    <figure>
                        <img src="http://api.tiles.mapbox.com/v3/rpstephenson.ik7cmcb8/pin-l-village(-0.64605,53.87699,3)/-0.64605,53.87698,14/950x600.png" alt="Map showing the location of Manor Farm Cottages in Goodmanham near Market Weighton">
                    </figure>
                    <p>Once you reach Market Weighton turn off Londesborough Road and head up Goodmanham Road and into Goodmanham village. Continue on Main Street past the Goodmanham Arms. Manor Farm is the third building on the left after the church.</p>
                </section>