                <section class="intro">
                    <h1>Manor Farm Cottages</h1>
                    <p>Deep in the heart of rural East Yorkshire, Manor Farm Cottages are two beautiful retreats nestled in Goodmanham village at the foot of the rolling Yorkshire Wolds.</p>
                </section>

                <section class="gallery swipe" id="slider">
                    <div class="swipe-wrap">
                        <figure>
                            <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source srcset="/assets/images/cottage-exterior-1660x1104@75.jpg" media="(min-width: 1100px)">
                                <source srcset="/assets/images/cottage-exterior-1000x665@75.jpg" media="(min-width: 830px)">
                                <source srcset="/assets/images/cottage-exterior-600x399@75.jpg">
                                <!--[if IE 9]></video><![endif]-->
                                <img srcset="/assets/images/cottage-exterior-600x399@40.jpg" alt="">
                            </picture>
                        </figure>
                        <figure>
                            <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source srcset="/assets/images/stables-master-1660x1104@75.jpg" media="(min-width: 1100px)">
                                <source srcset="/assets/images/stables-master-1000x665@75.jpg" media="(min-width: 830px)">
                                <source srcset="/assets/images/stables-master-600x399@75.jpg">
                                <!--[if IE 9]></video><![endif]-->
                                <img srcset="/assets/images/stables-master-600x399@40.jpg" alt="">
                            </picture>
                        </figure>
                        <figure>
                            <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source srcset="/assets/images/cottage-lounge-1660x1104@75.jpg" media="(min-width: 1100px)">
                                <source srcset="/assets/images/cottage-lounge-1000x665@75.jpg" media="(min-width: 830px)">
                                <source srcset="/assets/images/cottage-lounge-600x399@75.jpg">
                                <!--[if IE 9]></video><![endif]-->
                                <img srcset="/assets/images/cottage-lounge-600x399@40.jpg" alt="">
                            </picture>
                        </figure>
                        <figure>
                            <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source srcset="/assets/images/field-1660x1104@75.jpg" media="(min-width: 1100px)">
                                <source srcset="/assets/images/field-1000x665@75.jpg" media="(min-width: 830px)">
                                <source srcset="/assets/images/field-600x399@75.jpg">
                                <!--[if IE 9]></video><![endif]-->
                                <img srcset="/assets/images/field-600x399@40.jpg" alt="">
                            </picture>
                        </figure>
                        <figure>
                            <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source srcset="/assets/images/cottage-exterior-panels-1660x1104@75.jpg" media="(min-width: 1100px)">
                                <source srcset="/assets/images/cottage-exterior-panels-1000x665@75.jpg" media="(min-width: 830px)">
                                <source srcset="/assets/images/cottage-exterior-panels-600x399@75.jpg">
                                <!--[if IE 9]></video><![endif]-->
                                <img srcset="/assets/images/cottage-exterior-panels-600x399@40.jpg" alt="">
                            </picture>
                        </figure>
                        <figure>
                            <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source srcset="/assets/images/stables-lounge-1660x1104@75.jpg" media="(min-width: 1100px)">
                                <source srcset="/assets/images/stables-lounge-1000x665@75.jpg" media="(min-width: 830px)">
                                <source srcset="/assets/images/stables-lounge-600x399@75.jpg">
                                <!--[if IE 9]></video><![endif]-->
                                <img srcset="/assets/images/stables-lounge-600x399@40.jpg" alt="">
                            </picture>
                        </figure>
                    </div>
                </section>

                <section class="text">
                    <p>Set in 23 acres of private rural countryside, and within easy reach of the very best that the region has to offer, you’ll find awe-inspiring scenery, quaint market towns, picture-postcard seaside resorts and must-see tourist spots all on your doorstep.</p>
                    <p><a href="/the-cottage/" rel="internal">The Cottage</a> and <a href="/the-stables/" rel="internal">The Stables</a> offer modern 4-star luxury accommodation in a wonderfully quiet location with superb views.</p>
                    <p>If you want to discover for yourself just why Yorkshire is known as ‘God’s Own County’, Manor Farm Cottages are the perfect base.</p>
                    <p>Book your stay by ringing Liz on <a href="tel:+441430873510">+44 (0)1430 873510</a> or email <a href="mailto:info@manorfarm-cottages.co.uk">info@manorfarm-cottages.co.uk</a>.</p>
                </section>
