                <section class="intro">
                    <h1>The Stables</h1>
                    <p>Formerly a working stable block, The Stables has been carefully renovated into a beautiful East Yorkshire retreat. The kitchen wall has been rebuilt using the original sandstone. Exposed trusses and brickwork offer you a gentle reminder of the history of the building you are in.</p>
                </section>

                <section class="room">
                    <h2>The Kitchen</h2>
                    <figure>
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="/assets/images/stables-kitchen-1660x1104@75.jpg" media="(min-width: 1100px)">
                            <source srcset="/assets/images/stables-kitchen-1000x665@75.jpg" media="(min-width: 830px)">
                            <source srcset="/assets/images/stables-kitchen-600x399@75.jpg">
                            <!--[if IE 9]></video><![endif]-->
                            <img srcset="/assets/images/stables-kitchen-600x399@40.jpg" alt="The Stable’s modern and well equipped kitchen">
                        </picture>
                    </figure>
                    <div class="description">
                        <p>Finished to an exceptionally high standard, the kitchen area provides everything you may use during your stay.  Whilst cooking meals on the large island you can enjoy the views from the window or interact with other guests sitting opposite on the 4 bar stools.</p>
                        <p>From a functionality point of view, the kitchen includes all standard kitchen appliances as well as being equipped with a full range of cutlery, glassware, crockery and cooking utensils.</p>
                        <p>There is a separate utility room off the kitchen area which contains the washing, drying & cleaning equipment.</p>
                    </div>
                    <div class="features">
                        <h3>Features</h3>
                        <ul>
                            <li>Double oven / Electric hob</li>
                            <li>Fridge freezer</li>
                            <li>Dishwasher</li>
                            <li>Microwave</li>
                        </ul>
                    </div>
                </section>

                <section class="room">
                    <h2>The Lounge</h2>
                    <figure>
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="/assets/images/stables-lounge-1660x1104@75.jpg" media="(min-width: 1100px)">
                            <source srcset="/assets/images/stables-lounge-1000x665@75.jpg" media="(min-width: 830px)">
                            <source srcset="/assets/images/stables-lounge-600x399@75.jpg">
                            <!--[if IE 9]></video><![endif]-->
                            <img srcset="/assets/images/stables-lounge-600x399@40.jpg" alt="The Stable’s large and comfortable lounge">
                        </picture>
                    </figure>
                    <div class="description">
                        <p>In the middle of the room is an Oak dining table with six chairs. The lounge is the perfect area to unwind after a day exploring everything The Wolds has to offer. Whilst relaxing you can enjoy the stunning views through the full length glass windows.</p>
                    </div>
                    <div class="features">
                        <h3>Features</h3>
                        <ul>
                            <li>2 large leather sofas</li>
                            <li>Modern upholstered chair</li>
                            <li>32" Freeview Panasonic HDTV</li>
                            <li>Blu-ray / DVD player</li>
                            <li>DAB Radio / iPod dock</li>
                        </ul>
                    </div>
                </section>

                <section class="room">
                    <h2>Master Bedroom</h2>
                    <figure>
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="/assets/images/stables-master-1660x1104@75.jpg" media="(min-width: 1100px)">
                            <source srcset="/assets/images/stables-master-1000x665@75.jpg" media="(min-width: 830px)">
                            <source srcset="/assets/images/stables-master-600x399@75.jpg">
                            <!--[if IE 9]></video><![endif]-->
                            <img srcset="/assets/images/stables-master-600x399@40.jpg" alt="The Stable’s master bedroom">
                        </picture>
                    </figure>
                    <div class="description">
                        <p>The master bedroom is very spacious with a king size bed, full length wardrobe, bedside tables and a set of drawers. It also has a full length mirror and chair. There’s also plenty of room for a cot – which we can provide if you need one. The master bedroom also boasts an excellent en-suite bathroom with toilet, shower cubicle and sink. All bed linen and bath towels are supplied.</p>
                    </div>
                    <div class="features">
                        <h3>Features</h3>
                        <ul>
                            <li>6' super king double bed</li>
                            <li>Bedside table lamps</li>
                            <li>DAB Radio / Alarm</li>
                        </ul>
                    </div>
                </section>

                <section class="room">
                    <h2>Second bedroom</h2>
                    <figure>
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="/assets/images/stables-bedroom-3-1660x1104@75.jpg" media="(min-width: 1100px)">
                            <source srcset="/assets/images/stables-bedroom-3-1000x665@75.jpg" media="(min-width: 830px)">
                            <source srcset="/assets/images/stables-bedroom-3-600x399@75.jpg">
                            <!--[if IE 9]></video><![endif]-->
                            <img srcset="/assets/images/stables-bedroom-3-600x399@40.jpg" alt="The Stable’s second bedroom">
                        </picture>
                    </figure>
                    <div class="description">
                        <p>The second bedroom has twin beds (which can be pushed together to make a double), a set of drawers, bedside tables and a chair. All bed linen and bath towels are supplied.</p>
                    </div>
                    <div class="features">
                        <h3>Features</h3>
                        <ul>
                            <li>Two 3' single beds</li>
                            <li>(or 6' super king double bed)</li>
                            <li>2 beside tables with touch lamps</li>
                        </ul>
                    </div>
                </section>

                <section class="room">
                    <h2>Third bedroom</h2>
                    <figure>
                        <picture>
                            <!--[if IE 9]><video style="display: none;"><![endif]-->
                            <source srcset="/assets/images/stables-bedroom-2-1660x1104@75.jpg" media="(min-width: 1100px)">
                            <source srcset="/assets/images/stables-bedroom-2-1000x665@75.jpg" media="(min-width: 830px)">
                            <source srcset="/assets/images/stables-bedroom-2-600x399@75.jpg">
                            <!--[if IE 9]></video><![endif]-->
                            <img srcset="/assets/images/stables-bedroom-2-600x399@40.jpg" alt="The Stable’s third bedroom has double beds">
                        </picture>
                    </figure>
                    <div class="description">
                        <p>The third bedroom has a double bed, a gent's wardrobe, a chair and two bedside tables. All bed linen and bath towels are supplied.</p>
                    </div>
                    <div class="features">
                        <h3>Features</h3>
                        <ul>
                            <li>4'6" double bed</li>
                            <li>2 beside tables with touch lamps</li>
                        </ul>
                    </div>
                </section>

                <section class="room">
                    <h2>Bathrooms</h2>
                    <div class="description">
                        <p>Next to the master bedroom is the family bathroom with a large bath which is ideal for a long soak after a busy day or for bathing young children.</p>
                        <p>There is also a fully tiled wet-room off the hallway which is ideal for freshening up after a day of exploring the Yorkshire Wolds. </p>
                    </div>
                </section>

                <section class="gallery swipe" id="slider">
                    <div class="swipe-wrap">
                        <figure>
                            <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source srcset="/assets/images/stables-bathroom-1660x1104@75.jpg" media="(min-width: 1100px)">
                                <source srcset="/assets/images/stables-bathroom-1000x665@75.jpg" media="(min-width: 830px)">
                                <source srcset="/assets/images/stables-bathroom-600x399@75.jpg">
                                <!--[if IE 9]></video><![endif]-->
                                <img srcset="/assets/images/stables-bathroom-600x399@40.jpg" alt="The Stable’s main bathroom has a bath and shower">
                            </picture>
                        </figure>
                        <figure>
                            <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source srcset="/assets/images/stables-ensuite-1660x1104@75.jpg" media="(min-width: 1100px)">
                                <source srcset="/assets/images/stables-ensuite-1000x665@75.jpg" media="(min-width: 830px)">
                                <source srcset="/assets/images/stables-ensuite-600x399@75.jpg">
                                <!--[if IE 9]></video><![endif]-->
                                <img srcset="/assets/images/stables-ensuite-600x399@40.jpg" alt="The master bedroom has it’s own ensuite shower room">
                            </picture>
                        </figure>
                        <figure>
                            <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source srcset="/assets/images/stables-wetroom-1660x1104@75.jpg" media="(min-width: 1100px)">
                                <source srcset="/assets/images/stables-wetroom-1000x665@75.jpg" media="(min-width: 830px)">
                                <source srcset="/assets/images/stables-wetroom-600x399@75.jpg">
                                <!--[if IE 9]></video><![endif]-->
                                <img srcset="/assets/images/stables-wetroom-600x399@40.jpg" alt="The Stable’s wetroom">
                            </picture>
                        </figure>
                    </div>
                </section>

                <section class="room">
                    <h2>Outside area</h2>
                    <div class="description extra">
                        <p>While the inside of the building is a truly exceptional place to be, the outside really does rival this. There is a large private patio with direct access from the main living area. The patio is enclosed by a 3ft fence which gives peace of mind to parents with young children. Guests can enjoy this area which has patio furniture and a gas barbecue. Any bikes can be stored securely on site.</p>
                    </div>
                </section>

                <section class="room">
                    <h2>Renewables</h2>
                    <div class="description extra">
                        <p>Here at Manor Farm Cottages we realise our responsibility to the environment. Solar photovoltaic panels have been fitted to the cottage to supply the electricity needs. Whilst building the stables we took this a step further by fitting solar thermal panels to supply the hot water requirement for the building and an air source heat pump which heats the underfloor heating so no fossil fuels are required. Brown (food wastes) and blue (plastics, glass and paper) bins are also found outside the buildings to encourage all our guests to recycle during their stay. We also have a carbon offset scheme where you can pay £10 to have a tree planted on our 23 acre site, the location of which is recorded for you to visit if you return.</p>
                    </div>
                </section>

                <section class="room">
                    <h2>Parking</h2>
                    <div class="description extra">
                        <p>One thing that Manor Farm Cottage is not short of is space. Parking is never an issue.</p>
                    </div>
                </section>